baselines==0.1.5
# dgl_cu111==0.7a210520
glfw==2.5.1
gym
gym_minigrid==1.0.1
joblib==0.14.1
matplotlib==3.3.4
mpi4py==3.1.4
mujoco_py==2.0.2.13
networkx==2.6.3
numpy==1.21.5
Pillow
ring==0.9.1
scikit_learn==1.0.2
setuptools==61.3.1
sympy==1.10
tensorboardX==2.5
tensorflow==2.12.0
torch==1.11.0
xmltodict==0.12.0
