baselines==0.1.5
dgl_cu111==0.7a210520
glfw==2.5.1
gym==0.15.7
gym_minigrid==1.0.1
joblib==0.14.1
matplotlib==3.3.4
mpi4py==3.1.4
mujoco_py==2.0.2.13
networkx==2.6.3
numpy==1.21.5
Pillow==9.0.1
Pillow==9.5.0
ring==0.9.1
scikit_learn==1.0.2
setuptools==61.3.1
spot==0.1a
sympy==1.10
tensorboardX==2.5
tensorboardX==2.6
tensorflow==2.12.0
torch==1.11.0
xmltodict==0.12.0
